/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  src: local('Fira Code'), url('maize/FiraCode-Regular.ttf') format('ttf');
}

/* 全局属性 */
:root{
  --select-text-bg-color: #e49123;
}
::selection {
	background:#b981d1;
	color:white
}
::-moz-selection {
	background:#b981d1;
	color:white
}
::-webkit-selection {
	background:#b981d1;
	color:white
}

html {
  background-color: #fafafa;
}
#write {
  max-width: 914px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  font-family: "Fira Code", "微软雅黑","PingFang SC", "Microsoft YaHei", sans-serif;
}

/*段落*/
#write p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

/*  todo item 对齐 */
#write input[type="checkbox"] {
  margin-top: calc(1em - 2px);
  margin-right: 5px;
  left: -3px;
}

/*标题*/
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  margin: .72em 0;
  padding: 0px;
  font-weight: bold;
  color: black;
}
#write h1 {
  margin: 1.2em 0;
  font-size: 2rem;
  /* text-align: center; */
}
#write h2::before{
  content: "✔";
  font-weight: bold;
  color: #ffb11b;
  margin-right: 4px
}
#write h2 {
  font-size: 1.7rem;
  margin: 1em 0;
}
#write h2 span {
 font-weight: bold;
 color: #333;
 padding: 3px 10px 1px;
}

#write h3 {
  font-size: 1.5rem;
}
#write h4 {
  font-size: 1.25rem;
}
#write h5 {
  font-size: 1rem;
}
#write h6 {
  font-size: 1rem;
}

/* 列表 */
#write ul,
#write ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 40px;
  color: black;
}
#write ul {
  list-style-type: disc;
}
#write ul ul {
  list-style-type: square;
}
#write ol {
  list-style-type: decimal;
}
/* 列表内容 */
#write li section {
  font-size:15px;
}

/* 字体加粗 */
/* #write strong::before {
  content: '「';
} */

#write strong {
  color: #E49123;
  font-weight: bold;
}

/* #write strong::after {
  content: '」';
} */

/*引用*/
#write blockquote {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px 10px 10px 20px;
  font-size: 0.9em;
  background: #fff9f9;
  border-left: 3px solid #ffb11b;
  color: #6a737d;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#write blockquote p {
  line-height: 26px;
}

/* 超链接 */
#write a {
  text-decoration: none;
  font-weight: bold;
  color: #E49123;
  border-bottom: 1px solid #E49123;
}

/* 分割线 */
#write hr {
  height: 1px;
  padding: 0;
  border: none;
  text-align: center;
  background-image: linear-gradient(to right,rgba(231, 93, 109,0.3),rgba(255, 159, 150,0.75),rgba(255, 216, 181,0.3));
}

/* background-color 由 rgba 转为 HEX*/
#write code{
  font-size: 14px;
  color:  rgb(235, 76, 55);
  background-color: #f0f0f0;
}

/* 行内代码 */
#write p code,
#write span code,
#write li code {
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  word-break: break-all;
}

/* 文章插图 */
#write img {
  display: block;
  margin: 0 auto;
  width: 85%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow:0px 4px 12px #84A1A8;
  border: 0px;
}

#write table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
#write table tr:nth-child(2n) {
  background-color: #F8F8F8;
}
#write table tr th,
#write table tr td {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
#write table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}


/* 上角标 */
#write .md-footnote {
 font-weight: bold;
 color: #E49123;
}
#write .md-footnote > .md-text:before {
 content: '['
}
#write .md-footnote > .md-text:after {
 content: ']'
}


/* 下角标 */
#write .md-def-name {
  padding-right: 1.8ch;
}
#write .md-def-name:before {
  content: '[';
  color: #000;
}
#write .md-def-name:after {
  color: #000;
}


/* 代码块主题 */
code, .md-fences {
	padding: .5em;
	/* border: 1px solid #ccc; */
	padding: .1em;
	border-radius: 5px;
	margin-left: 0.2em;
  margin-right: 0.2em;
  font-family: "Fira Code", "微软雅黑","PingFang SC", "Microsoft YaHei", sans-serif;
}
.md-fences {
  margin: 0 0 20px;
  background-color: #292b35;
  color: rgb(236, 236, 236);
	/* font-size: 1em; */
	padding: 0.3em 1em;
  padding-top: 0.4em;
  box-shadow: 0px 4px 9px grey;
}
.CodeMirror div.CodeMirror-cursor {
  margin-left: 4.6px;
  border-left: 1px solid #F8F8F8;
  z-index: 5;
}
.cm-s-inner div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}
.CodeMirror-code{
  margin-left: 5px;
}
.cm-s-inner .cm-keyword {
  color: #c792ea;
  font-weight: 450;
}
.cm-s-inner .cm-operator {
  color: #89ddff;
}
.cm-s-inner .cm-variable-2 {
  color: #eeffff;
}
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #f07178;
}
.cm-s-inner .cm-builtin {
  color: #ffcb6b;
}
.cm-s-inner .cm-atom {
  color: #f78c6c;
}
.cm-s-inner .cm-number {
  color: #ff5370;
}
.cm-s-inner .cm-def {
  color: #82aaff;
}
.cm-s-inner .cm-string {
  color: #c3e88d;
}
.cm-s-inner .cm-string-2 {
  color: #f07178;
}
.cm-s-inner .cm-comment {
  color: #676e95;
}
.cm-s-inner .cm-variable {
  color: #f07178;
}
.cm-s-inner .cm-tag {
  color: #ff5370;
}
.cm-s-inner .cm-meta {
  color: #ffcb6b;
}
.cm-s-inner .cm-attribute {
  color: #c792ea;
}
.cm-s-inner .cm-property {
  color: #c792ea;
}
.cm-s-inner .cm-qualifier {
  color: #decb6b;
}
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #decb6b;
}
.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #e9405c;
}
